<?xml version='1.0' encoding='utf-8'?>
<robot name="dual_jaka_a12_real_twin">
  <link name="world" />
  <link name="real_left_base_link">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://jaka_description/meshes/jaka_a12_meshes/base_link.STL" />
      </geometry>
      <material name="left_base_material">
        <color rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://jaka_description/meshes/jaka_a12_meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="real_left_fixed" type="fixed">
    <origin rpy="1.570796326795 0.0 3.14159265359" xyz="0.0 1.275 1.2" />
    <parent link="world" />
    <child link="real_left_base_link" />
  </joint>
  <link name="real_left_J1">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://jaka_description/meshes/jaka_a12_meshes/J1.STL" />
      </geometry>
      <material name="left_j1_material">
        <color rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://jaka_description/meshes/jaka_a12_meshes/J1.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="real_left_joint_1" type="revolute">
    <origin rpy="0 0 0" xyz="9.3823E-05 0 0.14265" />
    <parent link="real_left_base_link" />
    <child link="real_left_J1" />
    <axis xyz="0 0 1" />
    <limit effort="2000" lower="-6.28" upper="6.28" velocity="2.62" />
  </joint>
  <link name="real_left_J2">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://jaka_description/meshes/jaka_a12_meshes/J2.STL" />
      </geometry>
      <material name="left_j2_material">
        <color rgba="0.86667 0.86667 0.8902 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://jaka_description/meshes/jaka_a12_meshes/J2.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="real_left_joint_2" type="revolute">
    <origin rpy="1.5708 0 0" xyz="0 0 0" />
    <parent link="real_left_J1" />
    <child link="real_left_J2" />
    <axis xyz="0 0 1" />
    <limit effort="8000" lower="-6.28" upper="6.28" velocity="2.62" />
  </joint>
  <link name="real_left_J3">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://jaka_description/meshes/jaka_a12_meshes/J3.STL" />
      </geometry>
      <material name="left_j3_material">
        <color rgba="0.86667 0.86667 0.8902 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://jaka_description/meshes/jaka_a12_meshes/J3.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="real_left_joint_3" type="revolute">
    <origin rpy="0 0 1.5708" xyz="0.77 0 0.0375" />
    <parent link="real_left_J2" />
    <child link="real_left_J3" />
    <axis xyz="0 0 1" />
    <limit effort="8000" lower="-6.28" upper="6.28" velocity="3.67" />
  </joint>
  <link name="real_left_J4">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://jaka_description/meshes/jaka_a12_meshes/J4.STL" />
      </geometry>
      <material name="left_j4_material">
        <color rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://jaka_description/meshes/jaka_a12_meshes/J4.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="real_left_joint_4" type="revolute">
    <origin rpy="-1.5708 0 -3.1416" xyz="0 -0.5515 0" />
    <parent link="real_left_J3" />
    <child link="real_left_J4" />
    <axis xyz="0 0 1" />
    <limit effort="2000" lower="-6.28" upper="6.28" velocity="3.67" />
  </joint>
  <link name="real_left_J5">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://jaka_description/meshes/jaka_a12_meshes/J5.STL" />
      </geometry>
      <material name="left_j5_material">
        <color rgba="0.86667 0.86667 0.8902 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://jaka_description/meshes/jaka_a12_meshes/J5.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="real_left_joint_5" type="revolute">
    <origin rpy="-1.5708 -1.5708 3.1416" xyz="0 -0.115 0" />
    <parent link="real_left_J4" />
    <child link="real_left_J5" />
    <axis xyz="0 0 1" />
    <limit effort="3000" lower="-6.28" upper="6.28" velocity="3.67" />
  </joint>
  <link name="real_left_J6">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://jaka_description/meshes/jaka_a12_meshes/J6.STL" />
      </geometry>
      <material name="left_j6_material">
        <color rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://jaka_description/meshes/jaka_a12_meshes/J6.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="real_left_joint_6" type="revolute">
    <origin rpy="1.5708 0 0" xyz="0 -0.1035 0" />
    <parent link="real_left_J5" />
    <child link="real_left_J6" />
    <axis xyz="0 0 1" />
    <limit effort="1000" lower="-6.28" upper="6.28" velocity="3.67" />
  </joint>
  <transmission name="left_trans_joint_1">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="left_joint_1">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="left_joint_1_motor">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="left_trans_joint_2">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="left_joint_2">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="left_joint_2_motor">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="left_trans_joint_3">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="left_joint_3">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="left_joint_3_motor">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="left_trans_joint_4">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="left_joint_4">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="left_joint_4_motor">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="left_trans_joint_5">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="left_joint_5">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="left_joint_5_motor">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="left_trans_joint_6">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="left_joint_6">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="left_joint_6_motor">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <link name="real_right_base_link">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://jaka_description/meshes/jaka_a12_meshes/base_link.STL" />
      </geometry>
      <material name="right_base_material">
        <color rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://jaka_description/meshes/jaka_a12_meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="real_right_fixed" type="fixed">
    <origin rpy="-1.570796326795 0.0 3.14159265359" xyz="0.0 1.125 1.2" />
    <parent link="world" />
    <child link="real_right_base_link" />
  </joint>
  <link name="real_right_J1">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://jaka_description/meshes/jaka_a12_meshes/J1.STL" />
      </geometry>
      <material name="right_j1_material">
        <color rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://jaka_description/meshes/jaka_a12_meshes/J1.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="real_right_joint_1" type="revolute">
    <origin rpy="0 0 0" xyz="9.3823E-05 0 0.14265" />
    <parent link="real_right_base_link" />
    <child link="real_right_J1" />
    <axis xyz="0 0 1" />
    <limit effort="2000" lower="-6.28" upper="6.28" velocity="2.62" />
  </joint>
  <link name="real_right_J2">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://jaka_description/meshes/jaka_a12_meshes/J2.STL" />
      </geometry>
      <material name="right_j2_material">
        <color rgba="0.86667 0.86667 0.8902 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://jaka_description/meshes/jaka_a12_meshes/J2.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="real_right_joint_2" type="revolute">
    <origin rpy="1.5708 0 0" xyz="0 0 0" />
    <parent link="real_right_J1" />
    <child link="real_right_J2" />
    <axis xyz="0 0 1" />
    <limit effort="8000" lower="-6.28" upper="6.28" velocity="2.62" />
  </joint>
  <link name="real_right_J3">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://jaka_description/meshes/jaka_a12_meshes/J3.STL" />
      </geometry>
      <material name="right_j3_material">
        <color rgba="0.86667 0.86667 0.8902 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://jaka_description/meshes/jaka_a12_meshes/J3.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="real_right_joint_3" type="revolute">
    <origin rpy="0 0 1.5708" xyz="0.77 0 0.0375" />
    <parent link="real_right_J2" />
    <child link="real_right_J3" />
    <axis xyz="0 0 1" />
    <limit effort="8000" lower="-6.28" upper="6.28" velocity="3.67" />
  </joint>
  <link name="real_right_J4">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://jaka_description/meshes/jaka_a12_meshes/J4.STL" />
      </geometry>
      <material name="right_j4_material">
        <color rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://jaka_description/meshes/jaka_a12_meshes/J4.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="real_right_joint_4" type="revolute">
    <origin rpy="-1.5708 0 -3.1416" xyz="0 -0.5515 0" />
    <parent link="real_right_J3" />
    <child link="real_right_J4" />
    <axis xyz="0 0 1" />
    <limit effort="2000" lower="-6.28" upper="6.28" velocity="3.67" />
  </joint>
  <link name="real_right_J5">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://jaka_description/meshes/jaka_a12_meshes/J5.STL" />
      </geometry>
      <material name="right_j5_material">
        <color rgba="0.86667 0.86667 0.8902 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://jaka_description/meshes/jaka_a12_meshes/J5.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="real_right_joint_5" type="revolute">
    <origin rpy="-1.5708 -1.5708 3.1416" xyz="0 -0.115 0" />
    <parent link="real_right_J4" />
    <child link="real_right_J5" />
    <axis xyz="0 0 1" />
    <limit effort="3000" lower="-6.28" upper="6.28" velocity="3.67" />
  </joint>
  <link name="real_right_J6">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://jaka_description/meshes/jaka_a12_meshes/J6.STL" />
      </geometry>
      <material name="right_j6_material">
        <color rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://jaka_description/meshes/jaka_a12_meshes/J6.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="real_right_joint_6" type="revolute">
    <origin rpy="1.5708 0 0" xyz="0 -0.1035 0" />
    <parent link="real_right_J5" />
    <child link="real_right_J6" />
    <axis xyz="0 0 1" />
    <limit effort="1000" lower="-6.28" upper="6.28" velocity="3.67" />
  </joint>
  <transmission name="right_trans_joint_1">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="right_joint_1">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="right_joint_1_motor">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="right_trans_joint_2">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="right_joint_2">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="right_joint_2_motor">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="right_trans_joint_3">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="right_joint_3">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="right_joint_3_motor">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="right_trans_joint_4">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="right_joint_4">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="right_joint_4_motor">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="right_trans_joint_5">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="right_joint_5">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="right_joint_5_motor">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="right_trans_joint_6">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="right_joint_6">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="right_joint_6_motor">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
</robot>